body {
    text-align: center;
}

.page-header {
    background-color: #8b90ee;
    color: white;
}

#launchGame {
    font-size: 24px;
    background-color: #ee7805;
    color: white;
}

h3 {
    background-color: #eeed90;
    color: #1d16ee;
}